h2{
	width:100%;
	text-align: center;
	background:orange;
	color:white;
	padding:20px 0px;
}
textarea{
	width:100%;
	height:200px;
}
button{
	width: 49.5%;
	text-align: center;
	background:olive;
	color:white;
	padding:18px 0;

}